PROJECT_ROOT=C:\Users\hashedUserChain1user\Documents\fire_forecast
DATA_ROOT=F:\fire_forecast_data
FLOGA_ROOT=F:\fire_forecast_data\floga
RAW_DATA_ROOT=F:\fire_forecast_data\raw
PROCESSED_DATA_ROOT=F:\fire_forecast_data\processed
STATIC_DATA_ROOT=F:\fire_forecast_data\static
MODEL_ROOT=F:\fire_forecast_data\models
OUTPUT_ROOT=F:\fire_forecast_data\outputs
DOCKER_VOLUMES=F:\fire_forecast_data\docker_volumes
POLLUTION_PROJECT_ROOT=C:\Users\hashedUserChain1user\Documents\airqualityapp
SAASPLUG_REFERENCE_ROOT=C:\Users\hashedUserChain1user\Documents\saasPlug\saasplug_repo
